<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid"></div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <ul class="nav nav-pills nav-stacked">
                    <li><a ng-click="$ctrl.seeProjects()" style="cursor: pointer;">Projects</a></li>
                    <li><a ng-click="$ctrl.seeUsers()" style="cursor: pointer;">Users</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8" ng-show="$ctrl.showProjects">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table table-data clear-both">
                        <table id="user_table" class="users list dtable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Project Name</th>
                                    <th>Company Name</th>
                                    <th>Money Goal</th>
                                    <th>Sector</th>
                                    <th class="blank-cell"></th>
                                    <th class="blank-cell"></th>
                                    <th class="blank-cell"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="project in $ctrl.infoProject | limitTo:$ctrl.itemsPerPage">
                                    <td>{{ project._id }}</td>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.company }}</td>
                                    <td>{{ project.goal }}</td>
                                    <td>{{ project.sector }}</td>
                                    <td class="users controls blank-cell">
                                        <a class="btn pointer" id="{{project.slug}}" data-ng-click="showListProject()"><i class="ion-ios-eye"></i></a>
                                    </td>
                                    <td class="users controls blank-cell">
                                        <a class="btn pointer" data-ng-click="showEditProject()"><i class="ion-android-color-palette"></i></a>
                                    </td>
                                    <td class="users controls blank-cell">
                                        <a class="btn pointer" data-ng-click="showDeleteProject()"><i class="ion-ios-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <ul uib-pagination class="pagination-sm" boundary-link-numbers="true"
            total-items="$ctrl.infoPager.length" ng-model="$ctrl.currentPage"
            items-per-page="$ctrl.itemsPerPage" ng-change="$ctrl.changePage()">
            </ul>
        </div>

        <div class="col-md-8" ng-show="$ctrl.showUseres">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table table-data clear-both">
                        <table id="user_table" class="users list dtable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th class="blank-cell"></th>
                                    <th class="blank-cell"></th>
                                    <th class="blank-cell"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="user in $ctrl.infoUsers | limitTo:$ctrl.itemsPerPage">
                                    <td>{{ user._id }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.username }}</td>
                                    <td class="users controls blank-cell">
                                        <a class="btn pointer" id="{{project.slug}}" data-ng-click=""><i class="ion-ios-eye"></i></a>
                                    </td>
                                    <td class="users controls blank-cell">
                                        <a class="btn pointer" data-ng-click=""><i class="ion-android-color-palette"></i></a>
                                    </td>
                                    <td class="users controls blank-cell">
                                        <a class="btn pointer" id="{{ user._id }}" data-ng-click="deleteUser()"><i class="ion-ios-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <ul uib-pagination class="pagination-sm" boundary-link-numbers="true"
            total-items="$ctrl.infoPagerUser.length" ng-model="$ctrl.currentPageUser"
            items-per-page="$ctrl.itemsPerPageUser" ng-change="$ctrl.changePageUser()">
            </ul>
        </div>
    </div>
  </div>