<div class="profile-page">

  <!-- User's basic info & action buttons -->
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
 
          <img ng-src="{{::$ctrl.profile.image}}" class="user-img" />
          <h4 ng-bind="::$ctrl.profile.username"></h4>
          <p ng-bind="::$ctrl.profile.bio"></p>
          
          <button class="btn btn-sm btn-outline-secondary action-btn" ng-click="$ctrl.logOut()" style="margin-left:2%;">Log out</button>
          <follow-btn user="$ctrl.profile" ng-hide="$ctrl.isUser"></follow-btn>
 
        </div>
      </div>
    </div>
  </div>
 
  <!-- Container where User's posts & favs are list w/ toggle tabs -->
  <div class="container">
    <div class="row">
 
      <div class="col-xs-12 col-md-10 offset-md-1">
 
        <!-- Tabs for switching between author articles & favorites -->
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
 
            <li class="nav-item">
              <a class="nav-link"
                ng-click="$ctrl.seePersonalProjects()"
                style="cursor: pointer;">
                My Projects
              </a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link"
                ng-click="$ctrl.seeInvertedProjects()"
                style="cursor: pointer;">
                Participated Projects
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link"
                ng-click="$ctrl.subscribeProjects = true; $ctrl.personalProjects = false; $ctrl.invertedProjects = false;"
                style="cursor: pointer;">
                Subscribed Projects
              </a>
            </li>
          </ul>
        </div>
 
      </div>
 
    <!-- End row & container divs -->
    </div>
  </div>

  <span ng-show="$ctrl.myProjects.length < 1 && $ctrl.personalProjects"><br /><br /><span class="alert alert-info" style="margin-left:20%;">You haven't created a project</span></span>
  <div class="container" ng-repeat="project in $ctrl.myProjects" ng-show="$ctrl.personalProjects">
      <div class="row">
      <div class="well">
        <h1 class="text-center">{{project.name}}</h1>
        <div class="list-group">
          <div class="media col-md-3">
              <figure class="pull-left">
                  <img ng-show="project.image" ng-src="http://localhost:3000/uploads/{{project.image}}"
                  class="img-responsive" style="width:100%">
                  <video ng-show="project.video" ng-src="http://localhost:3000/uploads/{{project.video}}"
                  class="img-responsive" style="width:100%"
                  controls>
              </figure>
          </div>
          <div class="col-md-6">
              <h4 class="list-group-item-heading"> {{project.company}} </h4>
              <p class="list-group-item-text">{{project.resdesc}}</p>
          </div>
          <div class="col-md-3 text-center">
              <button type="button" class="btn btn-primary btn-lg btn-block" id="{{project.slug}}" ng-click="seeProj()">See</button>
              <button type="button" class="btn btn-primary btn-lg btn-block" id="{{project.slug}}" ng-click="updateProj()">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <span ng-show="$ctrl.investedProj.length < 1 && $ctrl.invertedProjects"><br /><br /><span class="alert alert-info" style="margin-left:20%;">You have not participated in any project</span></span>
  <div class="container" ng-repeat="invest in $ctrl.investedProj" ng-show="$ctrl.invertedProjects">
      <div class="row">
      <div class="well">
        <h1 class="text-center">{{invest.name}}</h1>
        <div class="list-group">
          <div class="media col-md-3">
              <figure class="pull-left">
                  <img ng-show="invest.image" ng-src="http://localhost:3000/uploads/{{invest.image}}"
                  class="img-responsive" style="width:100%">
                  <video ng-show="invest.video" ng-src="http://localhost:3000/uploads/{{invest.video}}"
                  class="img-responsive" style="width:100%"
                  controls>
              </figure>
          </div>
          <div class="col-md-6">
              <h4 class="list-group-item-heading"> {{invest.company}} </h4>
              <p class="list-group-item-text">{{invest.resdesc}}</p>
          </div>
          <div class="col-md-3 text-center">
              <button type="button" class="btn btn-primary btn-lg btn-block" id="{{invest.slug}}" ng-click="seeProj()">See</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <span ng-show="$ctrl.subscribeProj.length < 1 && $ctrl.subscribeProjects"><br /><br /><span style="margin-left:20%;"" class="alert alert-info">You're not subscribed to any project.</span></span>
  <div class="container" ng-repeat="subscribe in $ctrl.subscribeProj" ng-show="$ctrl.subscribeProjects">
    <div class="row">
    <div class="well">
      <h1 class="text-center">{{subscribe.name}}</h1>
      <div class="list-group">
        <div class="media col-md-3">
            <figure class="pull-left">
                <img ng-show="subscribe.image" ng-src="http://localhost:3000/uploads/{{subscribe.image}}"
                class="img-responsive" style="width:100%">
                <video ng-show="subscribe.video" ng-src="http://localhost:3000/uploads/{{subscribe.video}}"
                class="img-responsive" style="width:100%"
                controls>
            </figure>
        </div>
        <div class="col-md-6">
            <h4 class="list-group-item-heading"> {{subscribe.company}} </h4>
            <p class="list-group-item-text">{{subscribe.resdesc}}</p>
        </div>
        <div class="col-md-3 text-center">
            <button type="button" class="btn btn-primary btn-lg btn-block" id="{{subscribe.slug}}" ng-click="seeProj()">See</button>
            <button type="button" class="btn btn-primary btn-lg btn-block" id="{{subscribe.slug}}" ng-click="unsuscribeProj()">Unsubscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>

</div>