<nav class="navbar navbar-light" style="margin-bottom:0px;">
  <div class="container" style="font-size:18px;">

    <a class="navbar-brand" style="height:65px;"
      ui-sref="app.home">
      <img style="height: 100%;" src="images/crowcode.svg">
    </a>

    <!-- Show this for logged out users -->
    <ul show-authed="false"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.home">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.projects">
          Projects
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.contact">
          Contact
        </a>
      </li>

      <li class="nav-item">
          <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.login">
            Login
          </a>
        </li>

    </ul>

    <!-- Show this for logged in users -->
    <ul show-authed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.home">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.projects">
          Projects
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.createproj">
          New Project
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.contact">
          Contact
        </a>
      </li>

      <li class="nav-item" ng-bind-html="adminPanel">

      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.profile.main({ username: $ctrl.currentUser.username})">
          {{$ctrl.currentUser.username}}
          <img ng-src="{{$ctrl.currentUser.image}}" class="user-pic" />
        </a>
      </li>

    </ul>

  </div>
</nav>
