<nav class="navbar navbar-light">
  <div class="container">

    <a class="navbar-brand"
      ui-sref="app.home"
      ng-bind="::$ctrl.appName | lowercase">
    </a>

    <!-- Show this for logged out users -->
    <ul show-authed="false"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.home">
          <i class="ion-ios-home"></i>&nbsp;Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.contact">
          <i class="ion-ios-chatboxes"></i>&nbsp;Contact
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.projects">
          <i class="ion-ios-briefcase"></i>&nbsp;Projects
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.login">
            <i class="ion-log-in"></i>&nbsp;Login
          </a>
        </li>

    </ul>

    <!-- Show this for logged in users -->
    <ul show-authed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.home">
          <i class="ion-ios-home"></i>&nbsp;Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.contact">
          <i class="ion-ios-chatboxes"></i>&nbsp;Contact
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.projects">
          <i class="ion-ios-briefcase"></i>&nbsp;Projects
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.editor">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.settings">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.adminpanel">
          <i class="ion-gear-a"></i>&nbsp;Admin 
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.profile.main({ username: $ctrl.currentUser.username})">
          {{$ctrl.currentUser.username}}
          <img ng-src="{{$ctrl.currentUser.image}}" class="user-pic" />
        </a>
      </li>

    </ul>


  </div>
</nav>
