<div class="home-page">

  <div style="height: 400px">
    <div uib-carousel active="active" interval="$ctrl.myInterval" no-wrap="$ctrl.noWrapSlides">
      <div uib-slide ng-repeat="slide in $ctrl.slides track by slide.id" index="slide.id" style="height: 400px">
        <img ng-src="{{slide.image}}" class="img-fluid" style="filter: blur(2px);">
        <div class="carousel-caption" style="padding-bottom:100px;">
            <img src="images/crowcode.svg">
          <h2>{{slide.text}}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Most popular categories</h1>
            </div>
        </div>
    </div>
  </div>


 <div class="container">
     <div class="row" infinite-scroll="load()" infinite-scroll-distance='0' infinite-scroll-immediate-check='false'>
         <div class="col-sm-4" ng-repeat="sector in infoSect">
             <div class="panel panel-info">
                 <!--<div class="panel-heading">{{sector}}</div>-->
                    <img ng-src="/images/{{sector.sector}}.svg"
                    class="img-responsive" style="width:100%"
                    ui-sref="app.projects({filter:sector.sector})" />
             </div><br>
          </div><br>
     </div>
 </div><br><br>
</div>
<!--<div infinite-scroll="loadMore()" infinite-scroll-distance="3">
    <img ng-repeat='sector in $ctrl.infoSect' src="https://placehold.it/150x80?text=IMAGE">
</div>

-->
