<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <br><br>
            <h1 class="mt-4">{{$ctrl.infoProj.name}}</h1>
            <p class="lead">
                by {{$ctrl.infoProj.company}} - {{$ctrl.infoProj.type}}
            </p>
            <hr>
            <!-- <p>Created at {{$ctrl.infoProj.createdAt}}</p> -->
            <h4 ng-show="$ctrl.totalDays">{{$ctrl.totalDays}} days left to finish the project</h4>
            <h4 ng-show="$ctrl.finProject">The project has been finished</h4>
            <hr>
            <div style="width: 100%;">
                <div uib-carousel active="active" no-wrap="$ctrl.noWrapSlides">
                    <div uib-slide ng-repeat="slide in $ctrl.slides track by slide.id" index="slide.id" style="width: 100%">
                        <img ng-show="slide.image" ng-src="{{slide.image}}" class="img-responsive">
                        <video ng-show="slide.video" ng-src="{{slide.video}}" class="img-responsive" style="width:100%" controls>
                        <div class="carousel-caption" style="padding-bottom:100px;">
                        </div>
                    </div>
                </div>
            </div>
            <!--<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">-->
            <hr>
            <p class="lead">{{$ctrl.infoProj.desc}}</p>
            <blockquote class="blockquote">
            
            <footer class="blockquote-footer">{{$ctrl.infoProj.company}} in
            <cite title="Source Title">{{$ctrl.infoProj.name}}</cite>
            </footer>
            </blockquote>
            <hr>
            <!-- Comments Form -->

        </div>
        <br>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <br><br><br><br><br><br><br>
            <div class="card my-4">
                <h4 class="card-header">MONEY GOAL <span ng-show="$ctrl.infoProj.investedMoney >= $ctrl.infoProj.goal"> Completed</span></h4>
                <div class="card-body" style="padding: 30px;">
                    <div class="row">
                        <div class="col-lg-2">
                            <span ng-show="!$ctrl.infoProj.investedMoney">0$</span>
                            <span ng-show="$ctrl.infoProj.investedMoney">{{$ctrl.infoProj.investedMoney}}$</span> 
                        </div>
                        <div class="col-lg-7">
                            <div class="progress">
                                <progress class="progress-bar" style="width: 100%; background-color:#fff;  border: solid 1px #0064b4;" value="{{$ctrl.infoProj.investedMoney}}" max="{{$ctrl.infoProj.goal}}"></progress>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            {{$ctrl.infoProj.goal}}$
                        </div>

                        <!--<button id="customButton">Purchase</button>-->
                    </div>
                </div>
            </div>
            <h4 class="card-header"><span ng-click="$ctrl.showRewards = true; $ctrl.showAids = false;">Rewards</span>   -   <span ng-click="$ctrl.showAids = true; $ctrl.showRewards = false;">Aids</span></h4>
            
            <h4 class="card-header" ng-show="$ctrl.showRewards">REWARDS</h4>
            <h4 class="card-header" ng-show="$ctrl.showAids && $ctrl.aidsProj.length > 0">AIDS</h4>
            <h4 class="card-header" ng-show="$ctrl.showAids && $ctrl.aidsProj.length < 1">Haven't Aids</h4>

            <div ng-show="$ctrl.totalDays && $ctrl.showRewards" class="card w-50" ng-repeat="project in $ctrl.rewardProj" 
                style="padding:40px;" ng-click="pay()" id="project._id"
                onMouseOver="this.style.border='solid 1px #FFD8D8'; this.style.background='#F0F0F0'" 
                onMouseOut="this.style.border='none'; this.style.background='#fff'">
                <div class="card-body">
                  <h4 class="card-title">{{project.title}}</h4>
                  <p class="card-text">{{project.money}},00€</p>
                  <p class="card-text">{{project.desc}}.</p>
                </div>
            </div>
            <div ng-show="$ctrl.finProject && $ctrl.showRewards" class="card w-50" ng-repeat="project in $ctrl.rewardProj" 
                style="height:200px; padding:40px;" ng-click="$ctrl.disabledPay()" id="project._id"
                onMouseOver="this.style.border='solid 1px #FFD8D8'; this.style.background='#F0F0F0'" 
                onMouseOut="this.style.border='none'; this.style.background='#fff'">
                <div class="card-body">
                  <h4 class="card-title">{{project.title}}</h4>
                  <p class="card-text">{{project.money}},00€</p>
                  <p class="card-text">{{project.desc}}.</p>
                </div>
            </div>
            <div ng-show="$ctrl.showAids" class="card w-50" ng-repeat="aids in $ctrl.aidsProj" 
                style="padding:40px;" id="project._id"
                onMouseOver="this.style.border='solid 1px #FFD8D8'; this.style.background='#F0F0F0'" 
                onMouseOut="this.style.border='none'; this.style.background='#fff'">
                <div class="card-body">
                  <h4 class="card-title">{{aids.title}}</h4>
                  <p class="card-text">{{aids.percentage}} %</p>
                  <p class="card-text">{{aids.desc}}.</p>
                  <input type="text" ng-model="infoLink$index" ng-show="aids.state === 0"/>
                  <label ng-show="aids.state === 1">Completed aid</label>
                  <label ng-show="aids.state === 2">Checkin aid for the creator</label>
                  <button ng-show="aids.state === 0" ng-click="$ctrl.saveLink(aids,infoLink$index)">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

