<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Rewards</h3>
</div>
<div class="modal-body" id="modal-body">
    <!-- Rewards content -->
    <form class="form-horizontal" id="formReward" name="formReward">
        <div class="form-group">
            <label class="col-md-3 control-label" for="name" style="max-width: 35%;">Title Reward</label><br />
            <div class="col-md-9">
                <input required ng-model="$ctrl.reward.inputTitle" id="inputTitle" name="inputTitle" type="text" placeholder="Title reward" class="form-control" ng-minlength="3" ng-maxlength="30" ng-model-options="{  debounce: 500 }">
                <span ng-show="formReward.inputTitle.$error.required && (formReward.inputTitle.$dirty || formReward.inputTitle.$touched)">Enter a title</span>
                <span ng-show="formReward.inputTitle.$error.minlength || formReward.inputTitle.$error.maxlength && (formReward.inputTitle.$dirty || formReward.inputTitle.$touched)">Enter between 3 and 30 characters</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" for="name" style="max-width: 35%;">Money to pay</label><br />
            <div class="col-md-9">
                <input required ng-model="$ctrl.reward.inputMoney" id="inputMoney" name="inputMoney" type="number" placeholder="Your money goal" class="form-control" min="1" max="10000" ng-model-options="{  debounce: 500 }">
                <span ng-show="formReward.inputMoney.$error.required && (formReward.inputMoney.$dirty || formReward.inputMoney.$touched)">Enter money to pay</span>
                <span ng-show="formReward.inputMoney.$error.min || formReward.inputMoney.$error.max && (formReward.inputMoney.$dirty || formReward.inputMoney.$touched)">Enter between 1 and 10000 euros</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" for="name" style="max-width: 35%;">Quantity</label><br />
            <div class="col-md-9">
                <input required ng-model="$ctrl.reward.inputQuantity" id="inputQuantity" name="inputQuantity" type="number" placeholder="Quantity of the product" class="form-control" min="1" max="1000" ng-model-options="{  debounce: 500 }">
                <span ng-show="formReward.inputQuantity.$error.required && (formReward.inputQuantity.$dirty || formReward.inputQuantity.$touched)">Enter a quantity</span>
                <span ng-show="formReward.inputQuantity.$error.min || formReward.inputQuantity.$error.max && (formReward.inputQuantity.$dirty || formReward.inputQuantity.$touched)">Enter between 1 and 1000</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" for="message" style="max-width: 50%;">Description</label><br />
            <div class="col-md-9">
                <textarea style="resize: none;" required ng-model="$ctrl.reward.inputRDesc" name="inputRDesc" class="form-control" rows="4" cols="50" id="inputRDesc" ng-minlength="20" ng-maxlength="400" ng-model-options="{  debounce: 500 }" placeholder="Please enter your reward description..."></textarea>
                <span ng-show="formReward.inputRDesc.$error.required && (formReward.inputRDesc.$dirty || formReward.inputRDesc.$touched)">Enter a description</span>
                <span ng-show="formReward.inputRDesc.$error.minlength">Enter more than 20 characters</span>
                <span ng-show="formReward.inputRDesc.$error.maxlength">Enter less than 400 characters</span>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <input class="btn btn-primary" type="submit" id="submitBtn" name="submit" value="Save"
                    ng-show="formReward.inputTitle.$valid && formReward.inputMoney.$valid && formReward.inputQuantity.$valid && formReward.inputRDesc.$valid"
                    ng-click="$ctrl.saveReward()"/>
                    <input class="btn btn-primary" type="submit" id="submitBtn" name="submit" value="Save"
                    ng-hide="formReward.inputTitle.$valid && formReward.inputMoney.$valid && formReward.inputQuantity.$valid && formReward.inputRDesc.$valid"
                    ng-click="$ctrl.nvalidCreateP()"/>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>