<!--<h1>Todos los projectos</h1>

<button class="btn btn-primary btn-lg" ui-sref="app.createproj">Create project</button>
<div style="text-align:center;">
    <div ng-repeat="proj in infoProj" style="width:48%; display:inline-block; margin:1%;">
        <span>Name: {{proj.name}}</span><br />
        <span>Goal: {{proj.goal}}</span><br />
        <span>Description: {{proj.description}}</span><br />
        <span>Owner: {{proj.owner}}</span>
    </div>
</div>-->
<div class="container"><br><br>
    <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
    </h1><br>
    <div class="col-md-4">
        <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" ng-repeat="project in $ctrl.infoProj">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{project.name}}</div>
                    <div class="panel-body">
                        <img src="https://placehold.it/150x80?text=IMAGE"
                        class="img-responsive" style="width:100%"
                        ng-click="$ctrl.openDetails(project._id)">
                    </div>
                    <div class="panel-footer">{{project.desc}}</div><br>
                </div><br>
            </div><br>
        </div>
    </div><br><br>
</div>