<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Projects <small>Take a look!</small></h1>
            </div>
        </div>
    </div>
  </div>

<div ng-show="$ctrl.showFilter" style="width:18%; margin-left:5%;">
    <strong>{{$ctrl.filter}}</strong>
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.clearFilter()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="container"><br><br>
    <div class="col-md-4">
        <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <div class="input-group">
                    <form class="form-search">
                        <input type="text" ng-model="$ctrl.search.name" ng-change="$ctrl.changeSearch()" placeholder="Search projects" 
                        uib-typeahead="project.name for project in $ctrl.infoProj | filter:{name:$viewValue} | limitTo:5" class="form-control">
                    </form>
                </div>
            </div>
        </div>
    </div><br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" ng-repeat="project in $ctrl.infoProj | filter:$ctrl.search:strict | limitTo:$ctrl.itemsPerPage" ng-click="openDetails()">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{project.name}}</div>
                    <div class="panel-body" style="padding:0px;">
                        <img ng-show="{{project.image}}" ng-src="http://localhost:3000/uploads/{{project.image}}"
                        class="img-responsive" style="width:100%" id="{{project.slug}}"
                        ng-click="openDetails()">
                        <video ng-show="{{project.video}}" ng-src="http://localhost:3000/uploads/{{project.video}}"
                        class="img-responsive" style="width:100%" id="{{project.slug}}"
                        controls>
                            Tu navegador no admite el elemento <code>video</code>.
                          </video>
                    </div>
                    <div class="panel-footer">{{project.resdesc}}<br></div>
                </div><br>
            </div><br>
        </div>
    </div><br><br>
    <center><ul uib-pagination class="pagination-sm" boundary-link-numbers="true"
        total-items="$ctrl.infoPager.length" ng-model="$ctrl.currentPage"
        items-per-page="$ctrl.itemsPerPage" ng-change="$ctrl.changePage()">
        </ul></center>
</div>
<!--<img style="width: 100%;" ng-src="http://localhost:3000/uploads/{{image}}" />
<video width="100%" ng-src="http://localhost:3000/uploads/{{video}}"controls>
              Tu navegador no admite el elemento <code>video</code>.
            </video>
-->